.catalog-page-header .burger-btn {
  display: none;
}

.catalog-page-header .header__logo {
  margin-left: 0;
}

.catalog-page-header .header-site-nav {
  position: static;
  padding: 0;
  transform: translateY(0);
}
