@font-face {
  src:
    url("../fonts/PlayfairDisplay_Bold.woff2"),
    url("../fonts/PlayfairDisplay_Bold.woff");
  font-family: "PlayfairDisplay_Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/PlayfairDisplay_Regular.woff2"),
    url("../fonts/PlayfairDisplay_Regular.woff");
  font-family: "PlayfairDisplay_Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Prata_Regular.woff2"),
    url("../fonts/Prata_Regular.woff");
  font-family: "Prata_Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Roboto_Light.woff2"),
    url("../fonts/Roboto_Light.woff");
  font-family: "Roboto_Light";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Roboto_Regular.woff2"),
    url("../fonts/Roboto_Regular.woff");
  font-family: "Roboto_Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Roboto_Medium.woff2"),
    url("../fonts/Roboto_Medium.woff");
  font-family: "Roboto_Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/Roboto_Bold.woff2"),
    url("../fonts/Roboto_Bold.woff");
  font-family: "Roboto_Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
