$header-width: 1286px;
$small-container: 1200px;

// colors
$fuscous-gray: #5c5c50;
$rose-fog: #e6c8b4;
$masala: #444240;
$olive-haze: #8b8371;
$spring-wood: #fdfdfb;
$spring-wood-hover: #f8f8f1;
$rangoon-green: #1b1a17;
$ash: #c4c0b6;
$beige: #f7f5ef;
$white: #fff;
$cameo: #d4b098;
$donkey-brown: #a69876;
