.main-header {
  position: relative;
  z-index: 10;
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-right__item:not(:first-child) {
  margin-left: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.burger-btn__line {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
  width: 20px;
  height: 1px;
  background-color: $fuscous-gray;
}

.burger-btn__line-1 {
  transition: transform ease 0.3s;
}

.burger-btn__line-2 {
  transform: translateY(9px);
}

.burger-btn__line-3 {
  transform: translateY(18px);
  transition: transform ease 0.3s;
}

.burger-btn {
  position: relative;
  border: none;
  width: 20px;
  height: 18px;
  background: none;
  transition: transform ease 0.3s;
  cursor: pointer;

  &:focus {
    outline: 1px dotted #666;
  }

  &:hover {
    .burger-btn__line-1 {
      transform: translateY(2px);
    }

    .burger-btn__line-3 {
      transform: translateY(16px);
    }
  }
}

.header-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 18px;
  height: 18px;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 1px dotted #666;
  }
}

.header-ic {
  position: relative;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &--favorites {
    background-image: url("../img/favourites-ic.svg");
  }

  &--cart {
    background-image: url("../img/cart-ic.svg");
  }
}

.header-ic__counter {
  @include robotoReg;

  position: absolute;
  right: -5px;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 13px;
  height: 13px;
  font-size: 8px;
  background-color: $rose-fog;
}
